<p id="notice"><%= notice %></p>

<%= link_to_unless_current("Home", root_path) %>
<% 
parentingArray = []
if @page.parentPage!=nil
@parent = Page.find(@page.parentPage)
parentingArray.push(@parent)
end
while parentingArray[parentingArray.size-1].parentPage!=nil
@parent = Page.find(parentingArray[parentingArray.size-1].parentPage)
parentingArray.push(@parent)
end
%> 
<% parentingArray.reverse_each do |page| %>
	>> <%= link_to page.title, page%>

<%end%>

  >>
  <%= @page.title %>



<br>
<p>&nbsp;</p>

<% if @page.template == "Listing"%>
<ul>
<% @childpages =Page.where(parentPage: @page.id)%>
 <% @childpages.each do |page| %>
    <li><%= link_to page.title, page %></li>
 <% end %>
</ul>
<% elsif @page.template == "Legislation"%>
<div>
<%= @page.content %>
</div>
<%end%>
<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
